<div class="container">
  <div>
    <h1>Our World</h1>
    <div class="d-flex">
      <% @farms.each do |farm| %>
        <div class="farm-card d-flex">
          <%= link_to farm_path(farm) do %>
            <%= farm.name %>
          <% end %>
          <div class="d-flex">
            <div>
              <p>tomato pic<%= farm.tomatoes.count %></p>
            </div>
            <div>
              <p>wheat pic<%= farm.wheats.count %></p>
            </div>
            <div>
              <p>cow pic<%= farm.cows.count %></p>
            </div>
            <div>
              <p>chicken pic<%= farm.chickens.count %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="new-farm">
    <h3>Open a new farm</h3>
    <%= simple_form_for @farm do |f| %>
      <%= f.input :name, label: 'Farm name', error: 'Unique farm name required' %>
      <%= f.button :submit, class:"button" %>
    <% end %>
  </div>
</div>
