<div class="container">
  <h1><%= @farm.name %></h1>
  <h3>Add</h3>
  <p>Please select one to add..</p>
  <%= button_to add_tomato_farm_path(@farm), method: :post do %>
    <p>tomato pic</p>
  <% end %>
  <%= button_to add_wheat_farm_path(@farm), method: :post do %>
    <p>wheat pic</p>
  <% end %>
  <%= button_to add_cow_farm_path(@farm), method: :post do %>
    <p>cow pic</p>
  <% end %>
  <%= button_to add_chicken_farm_path(@farm), method: :post do %>
    <p>chicken pic</p>
  <% end %>
  <div>
    <h3>Owned</h3>
    <div class="item-added">
      <% @tomatoes.each do |tomato| %>
        <p>tomato</p>
      <% end %>
    </div>
    <div class="item-added">
      <% @wheats.each do |wheat| %>
        <p>wheat</p>
      <% end %>
    </div>
    <div class="item-added">
      <% @cows.each do |cow| %>
        <p>cow</p>
      <% end %>
    </div>
    <div class="item-added">
      <% @chickens.each do |chicken| %>
        <p>chicken</p>
      <% end %>
    </div>
  </div>
</div>
